body {
    background-color: lightblue;
    color: rgb(52, 52, 192);
    font-family: sans-serif;
  }
  
  h1 {
    color: rgb(63, 173, 63);
    text-align: center;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .destaque {
    background-color: rgb(202, 2, 152);
    font-weight: bold;
  }
  
  #rodape {
    font-size: 12px;
    color: gray;
    text-align: right;
  }